<br>
<div class="row">
 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white bg-success  mb-3" id="total-orders">
      <div class="card-header">
       <h5 class="card-title" style="color:white">Total Orders</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title" style="color:white">{{ total_orders }}</h3>
      </div>
   </div>
  </div>
 </div>

 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white bg-info mb-3" id="orders-delivered">
      <div class="card-header">
       <h5 class="card-title" style="color:white">Orders Paid</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title" style="color:white">{{ orders_completed}}</h3>
      </div>
   </div>
  </div>
 </div>

 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white bg-danger  mb-3" id="orders-pending">
      <div class="card-header">
       <h5 class="card-title" style="color:white">Orders Pending</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title" style="color:white">{{ orders_pending }}</h3>
      </div>
   </div>
  </div>
 </div>
</div>